In [5]:
# Import các thư viện cần dùng
%matplotlib inline

import pandas as pd
import re
from pandas import DataFrame
import numpy as np
from matplotlib import pyplot as plt

import matplotlib
matplotlib.rcParams["figure.figsize"] = (20, 10)

In [6]:
# Đọc file dữ liệu file_resut.csv
df1 = pd.read_csv('file_resut.csv')
df1.head()

         datetime waterlevel
0  7/4/2013 21:30        NaN
1  7/4/2013 21:40        NaN
2  7/4/2013 21:50        27*
3  7/4/2013 22:00        28#
4  7/4/2013 22:10        28&

In [7]:
# Xem dữ liệu có bao nhiêu hàng bao nhiêu cột
df1.shape

(5034, 2)

In [8]:
# Xem có những cột gì
df1.columns

Index(['datetime', 'waterlevel'], dtype='object')

In [9]:
# Xem các giá trị của cột waterlevel
df1['waterlevel'].unique()

array([nan, '27*', '28#', '28&', '28!', '29#', '24', '25', '27', '29',
       '30', '28', '31', '32', '33', '17', '18', '15', '16', '11', '10',
       '13', '12', '14', '19', '20', '23', '22', '26', '35', '34', '37',
       '36', '40', '41', '42', '45', '55', '57', '58', '59', '60', '61',
       '62', '63', '65', '67', '68', '70', '71', '73', '74', '75', '77',
       '76', '79', '80', '81', '82', '78', '83', '72', '84', '86', '87',
       '88', '85', '69', '66', '64', '56', '53', '54', '49', '50', '47',
       '48', '51', '52', '46', '44', '43', '39', '38', '21', '6', '9',
       '7', '8', '5', '4', '3'], dtype=object)

In [10]:
# Đếm số lượng giá trị của cột waterlevel
df1['waterlevel'].value_counts()

37     200
38     174
40     163
36     157
32     148
      ...
28#      1
29#      1
28!      1
28&      1
27*      1
Name: waterlevel, Length: 91, dtype: int64

In [11]:
# Xử lý loại bỏ các ký tự đặc biệt
df1['waterlevel'] = df1['waterlevel'].astype(str).str.replace(r'\W', '')
df1['waterlevel'] = df1['waterlevel'].astype(float)
print(df1['waterlevel'])
print(df1)

0        NaN
1        NaN
2       27.0
3       28.0
4       28.0
        ...
5029    73.0
5030    74.0
5031    76.0
5032    77.0
5033    78.0
Name: waterlevel, Length: 5034, dtype: float64
             datetime  waterlevel
0      7/4/2013 21:30         NaN
1      7/4/2013 21:40         NaN
2      7/4/2013 21:50        27.0
3      7/4/2013 22:00        28.0
4      7/4/2013 22:10        28.0
...               ...         ...
5029  8/14/2013 02:50        73.0
5030  8/14/2013 03:00        74.0
5031  8/14/2013 03:10        76.0
5032  8/14/2013 03:20        77.0
5033  8/14/2013 03:30        78.0

[5034 rows x 2 columns]

C:\Users\computer\AppData\Local\Temp\ipykernel_10264\2155488275.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['waterlevel'] = df1['waterlevel'].astype(str).str.replace(r'\W', '')

In [12]:
# Xử lý các giá trị null
# Đếm từng cột xem có bao nhiêu giá trị null
df1.isnull().sum()
# # Gán giá trị null bằng giá trị trung bình của cột đó
df2 = df1.fillna(df1['waterlevel'].mean())
df2.isnull().sum()

datetime      0
waterlevel    0
dtype: int64

In [13]:
df3 = DataFrame(df2, columns= ['datetime','waterlevel'])
# Đường dẫn, nơi lưu trữ tệp kết quả
export_csv = df3.to_csv(r'file_resut_2.csv', index = None, header=True)
print (df3)

             datetime  waterlevel
0      7/4/2013 21:30   39.033386
1      7/4/2013 21:40   39.033386
2      7/4/2013 21:50   27.000000
3      7/4/2013 22:00   28.000000
4      7/4/2013 22:10   28.000000
...               ...         ...
5029  8/14/2013 02:50   73.000000
5030  8/14/2013 03:00   74.000000
5031  8/14/2013 03:10   76.000000
5032  8/14/2013 03:20   77.000000
5033  8/14/2013 03:30   78.000000

[5034 rows x 2 columns]